/* Page Appearance
----------------------------------------------- */
body {
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #333333;
	background-color: #DEE1E8;
	margin: 10px;
}
td {
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #333333;
}

/* Links
----------------------------------------------- */
a:link {
	color: #1F891F;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

a:visited {
	color: #1F891F;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

a:hover {
	color: #1F891F;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

a:active {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}		

/* Tables
----------------------------------------------- */
.main_table { 
	width: 650px;
	border: 1px; 
	border-color: #333333; 
	border-style: solid;
	border-spacing: 12px;

	background-color: #FFFFFF;
	
	margin-left:auto;
	margin-right:auto;
} 

.form_table { 
	width: 100%;
	border: 0px; 
	border-spacing: 6px;
} 		

.spacer_table { 
	width: 650px;
	border: 0px; 
	
	margin-left:auto;
	margin-right:auto;
} 			

.header_table { 
	width: 100%;
	border: 1px; 
	border-color: #333333; 
	border-style: solid;
	border-spacing: 8px;
	background-color: #FFFFFF;

} 			

.topic { 
	width: 100%;
	border: 1px; 
	border-color: #333333; 
	border-style: dotted;
	border-spacing: 3px;

	background-color: #E5E5E5;

	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	color: #333333;
		
	margin-left:auto;
	margin-right:auto;
	
	text-align: left;
}	

/* Form Elements
----------------------------------------------- */
input, select, textarea {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	border: 1px solid #777777;
}

/* Text
----------------------------------------------- */
.error {

	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #333333;
	text-align: center;

}
.error_code {

	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #A52A2A;
	text-align: center;

}							