/* ------------------------------ general definition ------------------------------ */
body,#pagina,#container,#navigazione,#IntranetTopNavigation,#header,#search,#main_nav,#barraNavigazione,p,#statusbar,#colonna-1,#ausiliario,#content-page,#corpo,#clear-both,#master_menu,#master_menu ul,#master_menu ul li,.item_top
	{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* ------------------------------ general layout ------------------------------ */
body {
	position: relative;
	width: 100%;
	background: #E9E9E9 /*url(img/background-x.gif) center repeat-x*/;
	color: #000;
	font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
	overflow: auto;
}

#pagina {
	width: 90%;
	margin: 0 auto;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	background: url(img/shadow-left.gif) 0 0 repeat-y;
}

#ausiliario {
	position: relative;
	float: left;
	width: 100%;
	padding-right: 15px;
	background: white url(img/shadow-right.gif) top right repeat-y;
}

#container {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 15px;
	background: #DCDCDC url(img/testa-top.gif) 0 0 repeat-x;
}

#corpo {
	position: relative;
	float: left;
	width: 100%;
}
/*
		#colonna-1 {
			float: left;
			width:200px;
			position:relative;
			background: #EDEDED;
			color: #000;
			border-right:#BDBDBD solid 0px;
			border-bottom:#BDBDBD solid 1px;
		}
		#colonna-2 {
			position:relative;
			margin-left:200px;
			background: transparent;
			color: #000;
		}
		*/
#colonna-1 {
	float: left;
	width: 100%;
	position: relative;
	background: #EDEDED;
	color: #000;
	border-right: #BDBDBD solid 0px;
	border-bottom: #BDBDBD solid 1px;
}

#colonna-2 {
	position: relative;
	width: 100%;
	background: transparent;
	color: #000;
}

#content-page {
	position: relative;
	background-color: white;
	padding: 10px;
}

#pie-di-pagina {
	float: left;
	width: 100%;
	margin-top: 3em;
	padding-top: 10px;
	background: #f4f4f4 url(img/piede-x.gif) repeat-x;
	border-top: solid 1px #999999;
	text-align: center;
}

#pie-di-pagina ul li a {
	display: inline;
	font-size: 90%;
	margin: 0.6em;
	padding: 0pt;
	border: 0;
	font-size: 85%;
	color: black;
	font-weight: bold;
}

#pie-di-pagina p {
	font-size: 90%;
	color: gray;
	margin: 0 10px 0.3em 20px;
}

#footinfo {
	clear: both;
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
	text-align: right;
	background: transparent url(img/shadow-bottom.gif) repeat-x;
}

#footinfo a:link,#footinfo a,#footinfo a:visited #footinfo a:hover {
	margin: 0;
	padding: 0;
	float: right;
	text-decoration: none;
	padding-right: 15px;
	display: inline;
	background: transparent;
}

#footinfo img {
	border: 0;
}

#clear-both {
	clear: both;
	width: 100%;
}

/*------------------------------------------------------------------------*/

/*FIELDS FORMS*/
div#search form {
	float: right;
	margin: 0;
	padding: 0;
	border: 0;
}

div#search {
	float: left;
	width: 100%;
}

#form_search label {
	float: left;
	line-height: 23px;
	padding-right: 2%;
}

#form_search input {
	float: left;
}

#form_search select {
	float: left;
}

/* ------------------------------ HEADING  ------------------------------ */
#container {
	float: left;
	width: 100%;
}

#container div#header {
	overflow: hidden;
	text-align: left;
	min-height: 100px;
	padding: 0 10px
}

#container a#pweb-logo {
	float: left;
	width: 48px;
	height: 45px;
	position: relative;
	margin: 5px 10px 10px 0;
	background: url(img/motorolaLogo.gif) no-repeat;
	display: block;
	text-indent: -9999px;
}

#container div#header h1 {
	padding: 0;
	margin: 0;
	color: gray;
}

#container div#header h1.subheading {
	position: relative;
	font-variant: small-caps;
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 1.2em;
	color: grey;
}

#container ul#IntranetTopNavigation {
	float: right;
	width: 100%;
	margin: 0 5px;
	padding: 0;
	text-align: right;
	font-size: 0.9em;
	padding: 0.5em 0;
}

#container ul#IntranetTopNavigation a {
	padding: 0 0;
}

#container div#main_nav {
	position: relative;
	float: left;
	width: 100%;
	padding: 0.2em 0 0.4em 0;
	margin: 0;
	font-weight: bold;
	line-height: 2em;
	background: #FEFEFE url(img/status-bar-x.gif) repeat-x bottom;
}

#container #main_nav ul {
	float: left;
	text-align: left;
	padding: 0;
	margin: 0;
}

#container #main_nav li {
	border-right: 1px solid #666;
	border-righ: 0;
	padding: 0 15px;
}

#container #main_nav a:hover {
	text-decoration: none;
}

#container #form_login label {
	float: left;
	margin-left: 1em;
	text-align: right;
	padding: 0 3px 0 0;
}

#container #form_login input {
	float: left;
	margin-right: 1em;
	background: #F0F0F0 url(img/input_background.gif) top left repeat-x;
	border: 1px solid silver;
	height: 1.4em;
}

#container #form_login #conferma {
	float: left;
	background: #F0F0F0 url(img/input_background_submit.gif) bottom left
		repeat-x;
	border: 1px solid gray;
	height: 1.7em;
}

#container div#user-status {
	position: relative;
	float: left;
	width: 100%;
	padding: 0 0 0.3em 0.7em;
	text-align: left;
	background: url(img/testa_bottom.gif) repeat-x bottom;
}

#container #user-status p {
	float: left;
	margin: 0;
	padding: 0;
	text-align: left;
	display: inline;
	font-variant: small-caps;
	width: 50%;
}

#container #user-status li {
	margin: 0;
	margin-left: 20px;
	padding: 0;
	padding-left: 0.3em;
	list-style-image: url(img/icon_warning.gif);
}

#container #user-status ul {
	margin: 0;
	padding: 0;
}

div#user-status-right a {
	text-decoration: none;
	padding-right: 10px;
	color: #7D7D79;
}

#container div#date,#container div#user-status-right {
	float: right;
	text-align: right;
	color: #000000;
	font-weight: normal;
	margin-right: 0.3em;
}

div#barraNavigazione {
	float: left;
	width: 100%;
	height: 35px;
	padding: 0.2em;
	color: #000;
	border-bottom: #c6e4f2 1px solid;
}

.navigazione {
	margin: 0;
	padding: 0.5em 0 1em 0;
	text-align: center;
	/*font-weight:bold;*/
}

.navigazione li {
	display: inline;
	margin: 0;
	height: 0;
	border-left: 1px solid silver;
	padding: 0 0.7em;
}

#pie-di-pagina .navigazione li {
	border-left: 0;
	border-right: 1px solid silver;
	color: gray;
}

.navigazione li.primaVoce {
	border-left: none;
}

.navigazione a:link,.navigazione a:visited {
	background: transparent;
	color: #000;
	text-decoration: none;
}

.navigazione a:hover,.navigazione a:focus,.navigazione a:active {
	background: transparent;
	color: #C00;
	text-decoration: underline;
}

/* ------------------------------ MENU MASTER ------------------------------ */
#master_menu,#master_menu h2,#master_menu ul,#master_menu ul li,#master_menu ul li a
	{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#master_menu {
	padding-left: 5px
}

#master_menu .item_top {
	background: url(img/item_top.gif) repeat-x top;
	height: 1.3em;
	padding-top: 8px;
}

#master_menu .item_bot {
	background: url(img/item_bottom.gif) repeat-x bottom;
}

#master_menu ul {
	list-style: none;
	margin: 3px 0 3px 5px;
}

#master_menu h1 {
	text-align: center;
	margin: 10px 0;
	padding: 0;
	border: 0;
}

#master_menu h1 a {
	color: #505050;
	text-decoration: none;
	border: 0;
}

#master_menu h1 a:hover {
	color: #286EA0;
}

#master_menu p {
	color: #505050;
	color: #286EA0;
	text-align: left;
	margin-left: 3px;
}

#master_menu ul li {
	float: left;
	width: 190px;
	display: inline;
	line-height: 1.1em;
}

#master_menu ul li a {
	float: left;
	width: 176px;
	padding: 5px;
	color: #505050;
	font-weight: bold;
	text-decoration: none;
	background-color: #F4F4F4;
	border-left: 4px solid #F4F4F4;
}

#master_menu ul li a:hover,#master_menu ul li a.current {
	color: #505050;
	background-color: #EAEAEA;
	border-left: 4px solid #286EA0;
}

#master_menu ul li a.current {
	border-left: 4px solid #FF6600;
	background-color: white;
	color: #FF6600;
}

#master_menu ul li a.current1 {
	border: 4px solid white;
}

#master_menu ul ul {
	float: left;
	width: 184px;
	font-size: 0.9em;
	margin: 0 0 0 10px;
	padding: 0 0 5px;
}

#master_menu ul ul li a {
	font-weight: normal;
}

#master_menu ul ul a {
	
}

#master_menu ul ul ul {
	
}

#master_menu ul ul ul a {
	
}

/* ------------------------------ Index page ------------------------ */

/* --------------------------------- GRAFICA -----------------------*/
div#angolo1 {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	background: transparent url(img/angolo-1.gif) no-repeat;
}

div#angolo2 {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	background: transparent url(img/angolo-2.gif) no-repeat;
}

div#angolo3 {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -15px;
	margin-right: -15px;
	height: 30px;
	width: 30px;
	background: transparent url(img/angolo-3.gif) no-repeat;
}

div#angolo4 {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -15px;
	margin-left: -15px;
	height: 30px;
	width: 30px;
	background: transparent url(img/angolo-4.gif) no-repeat;
}

.tabbed header {
	overflow: hidden;
	background: #e1e1e1;
	background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1),
		to(#e1e1e1) );
	background: -moz-linear-gradient(top, #d1d1d1, #e1e1e1);
	padding: 0 5px 15px 5px;
}

.tabbed nav {
	min-height: 28px;
	overflow: hidden;
	background-color: #BBBBBB;
}

.tabbed nav li {
	list-style: none;
	float: left;
	height: 24px;
	line-height: 24px;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0 2px;
	width: 200px;
	overflow: hidden;
	position: relative;
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc),
		to(#aaa) );
	background: -moz-linear-gradient(top, #ccc, #aaa);
}

.tabbed nav li.selected {
	background: #e1e1e1;
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1),
		to(#d1d1d1) );
	background: -moz-linear-gradient(top, #e1e1e1, #d1d1d1);
}

.tabbed nav li a,.tabbed nav li a:visited,.tabbed nav li a:hover {
	list-style: none;
	display: block;
	position: absolute;
	top: 0;
	left: -2px;
	height: 24px;
	line-height: 24px;
	width: 204px;
	text-align: center;
	color: #333;
	font-size: 11px;
	text-shadow: #e8e8e8 0 1px 0;
	-moz-box-shadow: inset 0 1px 1px #888;
	-webkit-box-shadow: inset 0 1px 1px #888;
	box-shadow: inset 0 1px 1px #888;
}

.tabbed
   nav li.selected a {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tabbed img {
	margin: 0 0 0 5px;
	border: 2px solid #BBBBBB;
	height: auto;
	width: 90px;
	float: right;
	text-align: center;
}

#index section {
	position: relative;
	float: left;
	width: 99%;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	border-style: solid;
	border-width: thin;
	border-color: #BBBBBB;
	box-shadow: 2px 2px 2px #BBBBBB;
	margin: 15px 0 0 0;
	padding: 0 0 0 1%;
	text-shadow: 1px 1px 1px #DDDDDD;
}

#index section section {
	float: left;
	position: relative;
	width: 200px;
	margin: 0 0 20px 0;
	padding: 0 0 0 10px;
	box-shadow: 0 0 0 0;
	border-radius: 0 0 0 0;
	border: 0;
	border-left: 1px solid orange;
	background-color: white;
}

#index section section a {
	display: inline;
	position: relative;
	float: left;
	width: 100%;
	line-height: 28px;
}

#index section h4 {
	margin: 0;
	padding: 0;
}

#index section.title {
	border: 0;
	border-shadow-size: 2px 2px 2px white;
	border-style: none;
	background-color: orange;
	margin: 15px 0;
}

#index section.title section {
	background-color: orange;
	min-height: 0;
	height: auto;
	margin:0;
	padding: 7px;
}

#index section.title2 {
	float: none;
	width: 100%;
	min-height: 0;
	height: auto;
	padding: 0;
	margin: 0 0 10px 0;
	border: 0;
}

#index section.title h2 {
	border: 0;
	color: white;
	background-color: orange;
	margin: 0;
	padding: 0;
}

#index section.title2 h3 {
	border: 0;
	margin: 10px 0 0 0;
	padding: 0;
}

#container header {
	background-image: url("/resources/img/puglieseweb_qr.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-bottom: 5px;
}